// animation: left .5s linear infinite alternate;
.bg-btn {
    animation: up-down 1s ease-in-out infinite alternate;
}

#home .btn {
    animation: up-down 1s linear infinite alternate;
}

#pricing .percent {
    animation: saving .5s linear infinite alternate;
}

.animated-btn {
    &:hover {
        animation: shadow-primary 1s ease-out infinite alternate;
    }

    animation: shadow-blue 1s ease-out infinite alternate;
}

.homepage-phone{
    animation: left-right 2s linear infinite alternate;
}
//TYPEWRITTER
@keyframes blink-caret {
    50% {
        border-color: $primaryColor;
    }
}

#typewritter {
    border-right: 5px solid #404145;
    -webkit-animation: blink-caret 0.5s step-end infinite alternate;
    animation: blink-caret 0.5s step-end infinite alternate;
}

// #pricing saving animation
@keyframes saving {
    from {
        transform: scale(.7);
    }

    to {
        transform: scale(1.4);
    }
}



@keyframes up-down {
    from {
        transform: scale(.9);
    }

    to {
        transform: scale(1);
    }
}

@keyframes left-right {
    from {
        transform: translateX(-2rem);
    }
    
    to {
        transform: translateX(2rem);
    }
}

@keyframes down {
    from {
        transform: translateY(-50%);
    }

    to {
        transform: translateY(20%);
    }
}





@keyframes shadow-blue {
    from {
        box-shadow: 0;
    }

    to {
        box-shadow: 0 0 10px 0 $btnBg inset,
            0 0 10px 4px $btnBg;
    }
}

@keyframes shadow-primary {
    from {
        box-shadow: 0;
    }

    to {
        box-shadow: 0 0 10px 0 $primaryColor inset,
            0 0 10px 4px $primaryColor;
    }
}


// VENDOR====================================================
$fuschia: $primaryColor;
$button-bg: $btnBg;
$button-text-color: #fff;
$baby-blue: #f8faff;

.bubbly-button {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px $primaryColor;

    &:focus {
        outline: 0;
    }

    &:before,
    &:after {
        position: absolute;
        content: '';
        display: block;
        width: 140%;
        height: 100%;
        left: -20%;
        z-index: -1000;
        transition: all ease-in-out 0.5s;
        background-repeat: no-repeat;
    }

    &:before {
        display: none;
        top: -75%;
        background-image:
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, transparent 20%, $button-bg 20%, transparent 30%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, $button-bg 15%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%);
        background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
        //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
    }

    &:after {
        display: none;
        bottom: -75%;
        background-image:
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, $button-bg 15%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%);
        background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
        //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    &:active {
        transform: scale(0.9);
        background-color: darken($button-bg, 5%);
        box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    }

    &.animate {
        &:before {
            display: block;
            animation: topBubbles ease-in-out 0.75s forwards;
        }

        &:after {
            display: block;
            animation: bottomBubbles ease-in-out 0.75s forwards;
        }
    }
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}