// ========== Fonts ==========
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


// ========== Colors ==========
$primaryColor: #242f51;
$txtColor: #616368;
$btnBg: #2500f9;
$logoColor: #fcae61;

$red: #f55767;
$blue: #2563ff;
$green: #40975f;
$divider: rgba(75, 74, 72, 0.3);
$borderColor : #ccc;